<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Your Awesome Idea!</title>
</head>
<body>
        <input type="text" id="ideaTitle" placeholder="Idea Title">
        <textarea name="" id="ideaDescription" cols="30" rows="10" placeholder="Idea Description"></textarea>
        <button>Scrap Idea</button>
        <button>Done</button>

    <script src="../functions/app-functions.js"></script>
    <script src="../functions/edit.js"></script>
</body>
</html>